body { font-family: Arial; background:#f2f2f2; padding:30px; }
h1 { color:#333; }
button { padding:10px 20px; margin:10px; cursor:pointer; }
#app { background:white; padding:20px; border-radius:8px; }
input { padding:10px; width:250px; }
ul { list-style:none; padding:0; }
li { padding:10px; border-bottom:1px solid #ddd; }
